<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FooBarBundle</title>

</head>
<body>
Windows ve MacOS kullanmak şeytanla işbirliği yapmaktır. Tek doğru Linux (MATE sayılmıyor).

{% block bundle_extend %} {% endblock %}
</body>
</html>
